<style>
   
   .pageHead{
      display: flex;
      justify-content: center;
      padding-top: 5%;
   }

   .joinUs{
      justify-content: center;
   }

   .formField{
      display:flex;
      justify-content: flex-end;
   }

</style>

{% extends "base.html" %} {% block title %}Sign Up{% endblock %}
{% block content %}

<div class="pageHead">
   <form method="POST">
      <h3 class="joinUs">Join BeanSpace!</h3>  
      <div class="form-group">
         <label class="formLabel" for="name">Name</label>
         <input
            class="formField"
            type="text"
            class="form-control"
            id="name"
            name="name"
            placeholder="Enter name"
         />
      </div>
      <div class="form-group">
         <label class="formLabel" for="userName">Username</label>
         <input
            class="formField"
            type="text"
            class="form-control"
            id="username"
            name="username"
            placeholder="Enter username"
         />
      </div>
      <div class="form-group">
         <label class="formLabel" for="email">Email Address</label>
         <input
            class="formField"
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Enter email"
         />
      </div>
      <div class="form-group">
         <label class="formLabel"for="password">Password</label>
         <input
            class="formField"
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="Enter password"
         />
      </div>
      <div class="form-group">
         <label class="formLabel" for="confirmPass">Confirm Password</label>
         <input
            class="formField"
            type="password"
            class="form-control"
            id="confirmPass"
            name="confirmPass"
            placeholder="Re-enter password"
         />
      </div>
      <button type="submit" class="btn btn-primary" style="background-color: #A43838;">Sign up</button>
   </form>
</div>
{% endblock %}}